## 概要
### 目的：売り上げの集計
### 集計軸：販売数・カテゴリ・地域別

## 1.ライブラリの読み込み

In [7]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 100)
sys.version_info

sys.version_info(major=3, minor=6, micro=8, releaselevel='final', serial=0)

## 2.ファイルの読み込み

In [5]:
sales_train = pd.read_csv('data/sales_train.csv')
items = pd.read_csv('data/items.csv')
shops = pd.read_csv('data/shops.csv')
item_categories = pd.read_csv('data/item_categories.csv')

## 3.データの確認

### 購入履歴データ

In [17]:
sales_train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [22]:
sales_train.isnull().any()

date              False
date_block_num    False
shop_id           False
item_id           False
item_price        False
item_cnt_day      False
dtype: bool

In [16]:
sales_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
date              object
date_block_num    int64
shop_id           int64
item_id           int64
item_price        float64
item_cnt_day      float64
dtypes: float64(2), int64(3), object(1)
memory usage: 134.4+ MB

### 商品データ

In [18]:
items.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [26]:
# 欠損値確認
items.isnull().any()

item_name           False
item_id             False
item_category_id    False
dtype: bool

In [12]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22170 entries, 0 to 22169
Data columns (total 3 columns):
item_name           22170 non-null object
item_id             22170 non-null int64
item_category_id    22170 non-null int64
dtypes: int64(2), object(1)
memory usage: 519.7+ KB

### 店舗データ

In [19]:
shops.head()

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

In [24]:
# 欠損値確認
shops.isnull().any()

shop_name    False
shop_id      False
dtype: bool

In [13]:
shops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
shop_name    60 non-null object
shop_id      60 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.0+ KB

### 商品カテゴリ

In [20]:
item_categories.head()

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

In [25]:
# 欠損値確認
item_categories.any()

item_category_name    True
item_category_id      True
dtype: bool

In [14]:
item_categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 2 columns):
item_category_name    84 non-null object
item_category_id      84 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.4+ KB

## 4.特徴生成

### 商品カテゴリを大カテゴリ・小カテゴリに分割、生データだとロシア語なので日本語に後ほど翻訳

In [72]:
# ハイフンで区切る
item_categories['split'] = item_categories['item_category_name'].str.split('-')
# 先頭の要素を大カテゴリとして取得
item_categories['type'] = item_categories['split'].map(lambda x: x[0].strip())
# 二つ目の要素を小カテゴリとして取得。もしなかったらNANとして取得
item_categories['subtype'] = item_categories['split'].map(lambda x: x[1].strip() if len(x) > 1 else x[0].strip())

### 店舗情報を分割し、先頭の要素を取り出す

In [73]:
# スペース区切りで名前が分かれているので、スペースで分割する
shops['city'] = shops['shop_name'].str.split(' ').map(lambda x: x[0])

### 購入履歴の数と商品価格から売り上げを算出

In [74]:
sales_train['revenue'] = sales_train['item_price'] *  sales_train['item_cnt_day']

### 年・月・日

In [75]:
sales_train['date'] = pd.to_datetime(sales_train['date'], format='%d.%m.%Y')

In [76]:
# year
sales_train['year'] = sales_train['date'].dt.year

# month
sales_train['month'] = sales_train['date'].dt.month

# day
sales_train['day'] = sales_train['date'].dt.day

## 5.データの結合

In [77]:
matrix = pd.merge(sales_train, shops, on='shop_id')

In [78]:
items = pd.merge(items, item_categories, on='item_category_id')

In [79]:
matrix = pd.merge(matrix, items, on='item_id')

In [81]:
# 不要な列は削除
matrix.drop(columns="split",inplace=True)

## 6.集計

In [91]:
matrix.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,revenue,year,month,day,shop_name,city,item_name,item_category_id,item_category_name,type,subtype
0,2013-01-02,0,59,22154,999.0,1.0,999.0,2013,1,2,"Ярославль ТЦ ""Альтаир""",Ярославль,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray,Кино,Blu
1,2013-01-02,0,25,22154,999.0,1.0,999.0,2013,1,2,"Москва ТРК ""Атриум""",Москва,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray,Кино,Blu
2,2013-01-03,0,25,22154,999.0,1.0,999.0,2013,1,3,"Москва ТРК ""Атриум""",Москва,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray,Кино,Blu
3,2013-01-20,0,25,22154,999.0,1.0,999.0,2013,1,20,"Москва ТРК ""Атриум""",Москва,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray,Кино,Blu
4,2013-01-23,0,25,22154,999.0,1.0,999.0,2013,1,23,"Москва ТРК ""Атриум""",Москва,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray,Кино,Blu

In [112]:
# 収益

## 年別
year_rev = matrix.groupby("year").agg({'revenue':'sum'}).reset_index()

## 月別
month_rev = matrix.groupby("month").agg({'revenue':'sum'}).reset_index()

## 日別
day_rev = matrix.groupby("day").agg({'revenue':'sum'}).reset_index()

## 日付ブロック（ 2012年1月が0）
date_rev = matrix.groupby("date_block_num").agg({'revenue':'sum'}).reset_index()

## カテゴリ・地域
type_city_rev = matrix.groupby(["type", "city"]).agg({'revenue':'sum'}).reset_index()

## カテゴリ・日付ブロック
date_type_rev = matrix.groupby(["type", "date_block_num"]).agg({'revenue':'sum'}).reset_index()

## 地域別
city_rev = matrix.groupby(["city"]).agg({'revenue':'sum'}).reset_index()

#　販売価格

## 年別
year_price = matrix.groupby(["year"]).agg({'item_price':'mean'}).reset_index()

## 月別
month_price = matrix.groupby(["month"]).agg({'item_price':'mean'}).reset_index()

## 日別
day_price = matrix.groupby(["day"]).agg({'item_price':'mean'}).reset_index()

## 日付ブロック（ 2012年1月が0）
date_price = matrix.groupby(["date_block_num"]).agg({'item_price':'mean'}).reset_index()

## カテゴリ・地域
type_city_price = matrix.groupby(["type", "city"]).agg({'item_price':'mean'}).reset_index()

## カテゴリ・日付ブロック
date_type_price = matrix.groupby(["date_block_num","type"]).agg({'item_price':'mean'}).reset_index()

## 地域別
city_price = matrix.groupby(["city"]).agg({'item_price':'mean'}).reset_index()

# 　販売数

## 年別
year_cnt = matrix.groupby(["year"]).agg({'item_cnt_day':'sum'}).reset_index()

# 月別
month_cnt = matrix.groupby(["month"]).agg({'item_cnt_day':'sum'}).reset_index()

# 月別
day_cnt = matrix.groupby(["day"]).agg({'item_cnt_day':'sum'}).reset_index()

# 日付ブロック別
date_cnt = matrix.groupby(["date_block_num"]).agg({'item_cnt_day':'sum'}).reset_index()

## カテゴリ・地域
type_city_cnt = matrix.groupby(["type", "city"]).agg({'item_cnt_day':'sum'}).reset_index()

# カテゴリ・日付ブロック
date_type_cnt = matrix.groupby(["type","date_block_num"]).agg({'item_cnt_day':'sum'}).reset_index()

# 地域別
city_cnt = matrix.groupby(["city"]).agg({'item_cnt_day':'sum'}).reset_index()

## オンラインストアの商品の平均価格とそれ以外の店舗など平均価格と比較する

In [128]:
online = matrix[matrix["city"] == "Интернет-магазин"]
not_online = matrix[matrix["city"] != "Интернет-магазин"]

online_price_avg = online.groupby(["type"]).agg({'item_price':'mean'}).reset_index()
not_online_avg = not_online.groupby(["type"]).agg({'item_price':'mean'}).reset_index()

diff_avg = pd.merge(not_online_avg, online_price_avg, on="type")

diff_avg["diff"] =  diff_avg["item_price_x"] - diff_avg["item_price_y"]

                         type  item_price_x  item_price_y         diff
0                  Аксессуары   1958.395179   2253.038624  -294.643445
1              Билеты (Цифра)   1337.669881   1463.429112  -125.759231
2             Игровые консоли  15468.061988  15843.011723  -374.949735
3                        Игры   1624.669307   2012.996794  -388.327487
4                     Игры PC    590.222672   1060.789373  -470.566701
5                Карты оплаты   1461.533291   1663.539734  -202.006443
6                        Кино    357.601154    517.764042  -160.162887
7                       Книги    380.355466    514.797743  -134.442277
8                      Музыка    361.330809    905.907049  -544.576240
9                     Подарки    737.906058   1267.385539  -529.479481
10                  Программы   1656.694405   3012.619230 -1355.924825
11                  Служебные   1112.439758   1204.348933   -91.909175
12    Чистые носители (шпиль)    188.847607    350.000000  -161.152393
13  Чистые носители (штучные)     32.488865     21.000000    11.488865
14           Элементы питания    100.278782    108.000000    -7.721218

## 7.出力

In [129]:
excel_writer = pd.ExcelWriter('../data/result_to_excel_revise3.xlsx')
 
# シート名を指定してデータフレームを書き出す
# 価格
year_rev.to_excel(excel_writer, 'year_rev')
month_rev.to_excel(excel_writer, 'month_rev')
day_rev.to_excel(excel_writer, 'day_rev')
date_rev.to_excel(excel_writer, 'date_rev')
type_city_rev.to_excel(excel_writer, 'type_city_rev')
date_type_rev.to_excel(excel_writer, 'date_type_rev')
city_rev.to_excel(excel_writer, 'city_rev')

# 価格
year_price.to_excel(excel_writer, 'year_price')
month_price.to_excel(excel_writer, 'month_price')
day_price.to_excel(excel_writer, 'day_price')
date_price.to_excel(excel_writer, 'date_price')
type_city_price.to_excel(excel_writer, 'type_city_price')
date_type_price.to_excel(excel_writer, 'date_type_price')
city_price.to_excel(excel_writer, 'city_price')

# 販売数
year_cnt.to_excel(excel_writer, 'year_cnt')
month_cnt.to_excel(excel_writer, 'month_cnt')
day_cnt.to_excel(excel_writer, 'day_cnt')
date_cnt.to_excel(excel_writer, 'date_cnt')
type_city_cnt.to_excel(excel_writer, 'type_city_cnt')
date_type_cnt.to_excel(excel_writer, 'date_type_cnt')
city_cnt.to_excel(excel_writer, 'city_cnt')

# 価格比較
diff_avg.to_excel(excel_writer, 'diff_avg')

# 書き出した内容を保存する
excel_writer.save()